<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:fragment="nav">

    <a href="/">Codefellowship!</a>
    <h2>Welcome to the Code Fellowship Blog and Forum</h2>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:if="${user != null}">

        <a th:href="@{'/users/' + ${viewedUser.id}}">Go to profile page</a>
        Hello, <span th:text="${user.name}"></span>!

        <a href="/logout">Log Out</a>
    </nav>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:unless="${user}">
        <a href="/login">Log In</a>


        <a href="/register"><h3>New to Code Fellowship?</h3>Register now</a>
    </nav>
</div>
</html>