<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:fragment="nav">

    <a href="/">Codefellowship!</a>
    <a href="/login">Log In</a>
    <h2>Welcome to the Code Fellowship Blog and Forum</h2>
    <nav th:if="${user != null}">
        <ul>
            <li><a th:href="@{'/users/' + ${viewedUser.id}}">Go to profile page</a></li>
            <li><a href="/posts/newPost">Write a new post</a></li>
            <li><a href="/users/follow"> Find new fellows to follow</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
<!--        <img src="defaultProfilePic.jpeg" alt="Doggo Pic" class="img-thumbnail" height="200px" width="200px"/>-->
        Hello, <span th:text="${user.name}"></span>!


    </nav>
    <nav th:unless="${user}">
        <a href="/register"><h3>New to Code Fellowship? Register now</h3></a>
    </nav>
</div>
</html>