<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:replace="fragments/nav :: nav"></div>
    <form method="POST" action="/login">
        Username:<input name="username"/>
        Password:<input type="password" name="password"/>
        <button class="btn btn-dark" type="submit">Login!</button>
    </form>
</div>
</body>
</html>