<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <div th:replace="fragments/nav :: nav"></div>
    <img src="/defaultProfilePic.jpeg" alt="Doggo Pic" class="img-thumbnail" height="200px" width="200px"/>

        <form method="POST" action="/users/follow">
            <button type="submit" class="btn btn-dark">Follow me!</button>
            <input type="hidden" name="id" th:value="${viewedUser.id}">
        </form>

        <h3>My name: <span th:text="${viewedUser.firstName}"></span></h3>
        <h3>About me: <span th:text="${viewedUser.bio}"></span></h3>
        <h2>My posts! </h2>
        <p th:each="posts : ${viewedUser.posts}" th:text="${posts}">Blog Post</p>

    </div>
</body>
</html>